* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

a {
    text-decoration: none;
    transition: 0.8s;
}

body {
    color: steelblue;
}

nav {
    margin: 0;
    padding: 0.8em;
    background-color: steelblue;
    border-bottom: 1px solid gainsboro;
    position: fixed;
    width: 100%;
}

nav .navbar {
    display: flex;
    justify-content: center;
}

nav .navbar a {
    margin: 0 12px;
    font-size: 26px;
    font-style: italic;
    color: whitesmoke;
}

nav .navbar a:hover {
    color: white;
}

.object {
    min-height: 750px;
    padding: 2em;
    border-bottom: 1px solid steelblue;
    text-align: center;
}

.object h1 {
    font-style: italic;
    margin-bottom: 6px;
}

.object img {
    width: 640px;
    height: 440px;
    border: 2px solid rgb(151, 191, 224);
    border-radius: 4px;
}

#alone {
    padding-top: 5em;
}

